/*  **************  FLexbox Mixins ************* */

/*  **************  Media Query Mixins ************* */

/* Portrait phones and smaller */

.containerrrrrr {
  padding: 0 15px;
}

@media (max-width: 686px) {
  .containerrrrrr {
    padding: 0 20px;
  }
}

@media (min-width: 992px) {
  .containerrrrrr {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }
}

@media (min-width: 1400px) {
  .containerrrrrr {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 0;
}

.main_section {
  padding: 0 3.6rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

/** - UI Title Bar -**/

.title__bar {
  display: flex;
  flex-wrap: wrap;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border-bottom: 0;
  box-sizing: border-box;
}

.title__bar-main-group {
  flex: 1 1 auto;
  max-width: 100%;
}

.title__bar-action-group {
  display: flex;
}

.title__bar-actions {
  display: flex;
  flex: 0 0 auto;
  z-index: 23;
}

.title__bar .action__bar {
  display: flex;
  margin: 0 auto;
  position: relative;
  margin-top: 0.8rem;
  margin-right: auto;
  margin-left: -0.8rem;
  padding: 0;
  z-index: inherit;
}

.title__bar .action__bar-items {
  flex: 1 1 auto;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  margin-left: 0;
  margin-right: 1.6rem;
  margin-top: 0;
}

.title__bar .action__bar-links {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  flex: 0 1 auto;
}

.title__bar .action__bar-link,
.title__bar .action__bar button {
  background: transparent;
  box-shadow: none;
  padding: 0.8rem;
  margin-right: 0.8rem;
  border-radius: 3px;
  color: #637381;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  border: 0;
  outline: 0;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 400;
  cursor: pointer;
  height: auto;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.title__bar .action__bar-link .Polaris-Icon,
.title__bar .action__bar button .Polaris-Icon {
  display: inline-block;
  margin-right: 4px;
}

.title__bar .action__bar-link .Polaris-Button__Icon,
.title__bar .action__bar button .Polaris-Button__Icon {
  margin-top: 0.4rem;
}

/*  -End of Title Bar - */

.breadcumbs {
  overflow: visible;
  color: #798c9c;
  display: flex;
  display: block;
  white-space: nowrap;
}

.breadcumbs a,
.breadcumbs button {
  display: -moz-inline-flex;
  display: inline-flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  text-transform: initial;
  letter-spacing: initial;
  color: #637381;
  color: #637381;
  border-radius: 3px;
  text-decoration: none;
  will-change: background;
  transition: background 200ms cubic-bezier(0.64, 0, 0.35, 1);
  padding-top: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0;
  margin-left: -0.7rem;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.breadcumbs a:hover,
.breadcumbs button:hover {
  color: #212b36;
}

table {
  width: 100%;
  border-spacing: 0;
}

table thead > tr > th {
  font-weight: 600;
  color: #212b36;
  border-bottom: 0.1rem solid #c4cdd5;
  border-top: 0;
  transition: background-color 0.2s ease-in-out;
  vertical-align: top;
  padding: 1.6rem;
  white-space: nowrap;
  text-align: left;
}

table .td__overflow {
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::-webkit-input-placeholder {
  color: #637381 !important;
  opacity: 1 !important;
  /* Firefox */
  font-weight: 400 !important;
}

::-moz-placeholder {
  color: #637381 !important;
  opacity: 1 !important;
  /* Firefox */
  font-weight: 400 !important;
}

:-ms-input-placeholder {
  color: #637381 !important;
  opacity: 1 !important;
  /* Firefox */
  font-weight: 400 !important;
}

::-ms-input-placeholder {
  color: #637381 !important;
  opacity: 1 !important;
  /* Firefox */
  font-weight: 400 !important;
}

::placeholder {
  color: #637381 !important;
  opacity: 1 !important;
  /* Firefox */
  font-weight: 400 !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #637381 !important;
  opacity: 1 !important;
  /* Firefox */
  font-weight: 400 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #637381 !important;
  opacity: 1 !important;
  /* Firefox */
  font-weight: 400 !important;
}

.Polaris-Modal-Section {
  padding: 0 !important;
  min-height: 20rem;
}

.Polaris-Modal-Header {
  padding: 0 !important;
}

.modal__title .header__title {
  padding: 1.6rem 2rem;
  border-bottom: var(--p-thin-border-subdued, 0.1rem solid var(--p-border-subdued, #dfe3e8));
}

.modal__title .search_box {
  padding: 1.6rem;
}

.Polaris-Modal-CloseButton {
  position: absolute;
  right: 2rem;
  top: 1.6rem;
}

.result__list {
  position: relative;
}

.result__list .list {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1.6rem 1.6rem;
  border-bottom: 0.1rem solid var(--p-border-subdued, #dfe3e8);
}

.result__list .list .left__item {
  display: flex;
  margin-right: 1.6rem;
  min-width: 1.6rem;
}

.result__list .list .right__item {
  display: flex;
  flex: 1;
}

.result__list .list .right__item .secondary__name {
  margin-left: 1.6rem;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #5c6ac4 !important;
}

ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: #5c6ac4 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-in-range::before,
.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
.ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
  background: #b3bcf5 !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text__bold {
  font-weight: 600;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.title {
  font-weight: 600;
  margin-right: 0.8rem;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  font-size: 2.8rem;
  line-height: 3.2rem;
}

.sub__title {
  font-weight: 600;
  font-size: 1.5rem;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  margin: 0.8rem 0;
}

.text__fade {
  opacity: 0.7;
  margin-top: 0rem;
}

.link__text {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin-top: 0.4rem;
  transition: color 0.3s;
}

.text__overflow {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.separator {
  padding-bottom: 2rem;
  border-bottom: 1px solid #dfe3e8;
  margin-bottom: 1rem;
}

.pull__right {
  text-align: right;
}

.loading__wrapper {
  position: relative;
}

.Polaris-Icon__Svg {
  color: transparent;
  fill: #637381;
}

.card {
  overflow: hidden;
  background-color: var(--p-surface, white);
  box-shadow: var(--p-card-shadow, 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15));
  border-radius: var(--p-border-radius-wide, 3px);
  box-sizing: border-box;
}

.save__btn {
  margin-top: 2rem;
}

.link__btn {
  text-decoration: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 3.6rem;
  min-width: 3.6rem;
  margin: 0;
  padding: 0.7rem 1.6rem;
  background: linear-gradient(to bottom, white, #f9fafb);
  border: 0.1rem solid var(--p-border, #c4cdd5);
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  border-radius: 3px;
  line-height: 1;
  color: #212b36;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  text-decoration: none;
  transition-property: background, border, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  -webkit-tap-highlight-color: transparent;
}

.link__btn-primary {
  background: linear-gradient(to bottom, #6371c7, #5563c1);
  border-color: #3f4eae;
  box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgba(22, 29, 37, 0.05), 0 0 0 0 transparent;
  color: white;
}

.link__btn-primary:hover {
  background: linear-gradient(to bottom, #5c6ac4, #4959bd);
  border-color: #3f4eae;
  color: white;
  text-decoration: none;
}

.row {
  display: flex;
}

.col-6 {
  max-width: 60%;
}

.col-5 {
  max-width: 50%;
}

.col-4 {
  max-width: 40%;
}

.input__fields {
  margin-bottom: 1.6rem;
}

.mr-auto {
  margin-right: auto;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.text-center {
  text-align: center;
}

.text__heading {
  font-size: 1.6rem;
}

.dashboard .table__filter {
  padding: 2rem;
}

.dashboard .table__filter .filter_wrapper {
  display: flex;
}

.dashboard .table__filter .filter_wrapper .search_filter {
  flex: 1;
}

.dashboard .table__filter .filter_wrapper .search_filter .button_group {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0;
  margin-left: 0;
}

.dashboard .table__filter .filter_wrapper .search_filter .button_group .group_item {
  position: relative;
  z-index: 10;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
}

.dashboard .table__filter .filter_wrapper .search_filter .button_group .group_item input::-webkit-input-placeholder {
  font-size: 1.4rem;
}

.dashboard .table__filter .filter_wrapper .search_filter .button_group .group_item input::-moz-placeholder {
  font-size: 1.4rem;
}

.dashboard .table__filter .filter_wrapper .search_filter .button_group .group_item input:-ms-input-placeholder {
  font-size: 1.4rem;
}

.dashboard .table__filter .filter_wrapper .search_filter .button_group .group_item input::-ms-input-placeholder {
  font-size: 1.4rem;
}

.dashboard .table__filter .filter_wrapper .search_filter .button_group .group_item input::placeholder {
  font-size: 1.4rem;
}

.dashboard .table__filter .filter_wrapper .search_filter .button_group .group_item .ant-picker-range {
  height: 100%;
  width: 100%;
}

.dashboard .table__filter .filter_wrapper .export_filter .Polaris-Select__Backdrop {
  border-radius: 0;
}

.dashboard .table {
  position: relative;
  min-height: 8rem;
}

.dashboard .table .sort_wrapper {
  position: absolute;
  right: 2rem;
}

.dashboard .table .Polaris-ResourceItem__Owned {
  margin-top: 3px;
}

.dashboard .analytics {
  margin-bottom: 4rem;
  padding: 1rem;
  border: 2px solid #dfe3e8;
}

.dashboard .analytics .highcharts-credits {
  display: none;
}

.dashboard .analytics .highcharts-background {
  fill: #f4f6f8;
}

.dashboard .links__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.dashboard .pagination__wrapper {
  margin-top: 3rem;
  text-align: center;
}

.dashboard .not__found {
  text-align: center;
}

.dashboard .not__found p {
  padding-top: 2rem;
}

/******* Wizard page d ********/

/*  **************  FLexbox Mixins ************* */

/*  **************  Media Query Mixins ************* */

/* Portrait phones and smaller */

.containerrrrrr {
  padding: 0 15px;
}

@media (max-width: 686px) {
  .containerrrrrr {
    padding: 0 20px;
  }
}

@media (min-width: 992px) {
  .containerrrrrr {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }
}

@media (min-width: 1400px) {
  .containerrrrrr {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.wizard .campaign__wrapper {
  display: flex;
}

.wizard .campaign__wrapper .campaign__icon {
  margin-right: 2rem;
  min-width: 6rem;
}

.wizard .campaign__wrapper .campaign__details {
  flex: 1;
}

.wizard .campaign__wrapper .campaign__details .campaign__title {
  font-weight: 600;
}

.wizard .campaign__wrapper .campaign__details .campaign__info {
  margin-bottom: 0.7rem;
}

.wizard .campaign__wrapper .campaign__details .examples {
  display: flex;
}

.wizard .campaign__wrapper .campaign__details .examples .examples__block {
  margin-left: 1rem;
  flex: 1;
}

.wizard .campaign__wrapper .campaign__details .examples .examples__block .example__list {
  margin-bottom: 3px;
}

.wizard .campaign__wrapper .campaign__details .examples .examples__block .example__list p {
  display: inline-block;
}

.bogo {
  width: 80%;
  margin: 0 auto;
}

.campaign__layout .form__layout .form__group {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}

.campaign__layout .form__layout .form__group .form__field {
  width: 48%;
}

.campaign__layout .form__layout .form__group .form__field .form__field-wrapper {
  display: flex;
  align-items: flex-end;
}

.campaign__layout .form__layout .form__group .form__field .form__field-wrapper div {
  flex: 1;
}

.campaign__layout .form__layout .form__group .icon {
  min-height: 3.6rem;
  max-height: 3.6rem;
  padding: 0 1rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.campaign__layout .flex__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.campaign__layout .flex__wrapper .flex__item {
  width: 48%;
  margin-bottom: 1.3rem;
}

.campaign__layout .flex__wrapper .flex__item-wrapper {
  display: flex;
  align-items: flex-end;
}

.campaign__layout .flex__wrapper .flex__item-wrapper .flex_one {
  flex: 1;
}

.campaign__layout .field__item {
  margin-bottom: 1.3rem;
}

.campaign__layout .checkbox__item {
  margin-bottom: 4px;
}

.campaign__layout .checkbox__item .col-5 {
  margin-top: 5px;
}

.campaign__layout .customer__checked-list {
  display: flex;
  justify-content: space-between;
}

.campaign__layout .customer__checked-list .remove__btn button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.campaign__layout .customer__checked-list:not(:last-child) {
  padding-bottom: 7px;
}

.campaign__layout .flex__row-equal {
  display: flex;
  align-items: flex-end;
}

.campaign__layout .flex__row-equal .flex__row-item {
  width: 50%;
}

