/******* Wizard page d ********/
@import "../../../sass//mixins";

.wizard {
    .campaign__wrapper {
        @include flexbox();
        .campaign__icon {
            margin-right: 2rem;
            min-width: 6rem;
        }

        .campaign__details {
            flex: 1;
            .campaign__title {
                font-weight: 600;
            }
            .campaign__info {
                margin-bottom: 0.7rem;
            }
            .examples {
                @include flexbox();
                .examples__block {
                    margin-left: 1rem;
                    flex: 1;
                    .example__list {
                        margin-bottom: 3px;
                        p {
                            display: inline-block;
                            // min-width: 25rem;
                            // max-width: 25rem;
                        }
                    }
                }
            }
        }
    }
}

//Create a Layout for Createing campaign

.bogo {
    width: 80%;
    margin: 0 auto;
}
.campaign__layout {
    .form__layout {
        .form__group {
            @include flexbox();
            align-items: baseline;
            justify-content: space-between;
            margin-bottom: 1.3rem;
            .form__field {
                width: 48%;
                .form__field-wrapper {
                    @include flexbox();
                    align-items: flex-end;

                    div {
                        flex: 1;
                    }
                }
            }

            .icon {
                min-height: 3.6rem;
                max-height: 3.6rem;
                padding: 0 1rem;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }
    }

    .flex__wrapper {
        @include flexbox();
        align-items: flex-start;
        justify-content: space-between;
        .flex__item {
            width: 48%;
            margin-bottom: 1.3rem;
            &-wrapper {
                @include flexbox();

                margin-bottom: 1rem;
                .flex_one {
                    flex: 1;
                }

                .browse__btn {
                    // @include flexbox();
                    // @include align-items(center);
                    div {
                        height: 100%;

                        .Polaris-Button {
                            margin-top: 2.3rem;
                        }
                    }
                }
            }
        }
    }

    .field__item {
        margin-bottom: 1.3rem;
    }
    .checkbox__item {
        margin-bottom: 4px;
        .col-5 {
            margin-top: 5px;
        }
    }

    .customer__checked-list {
        display: flex;
        justify-content: space-between;
        .name {
        }
        .remove__btn {
            button {
                border: none;
                background: transparent;
                outline: none;
                cursor: pointer;
            }
        }
        &:not(:last-child) {
            padding-bottom: 7px;
        }
    }

    //FOr equal row
}
.flex__row-equal {
    @include flexbox();
    align-items: flex-end;
    .flex__row-item {
        width: 50%;
    }
}

/*********** Lunch Page   *********/

.lunch__page {
    width: 80%;
    margin: 0 auto;
    .form__group {
        .form__field {
            margin-bottom: 1.6rem;
        }
    }

    .ant-picker {
        width: 100%;
    }
}

.lunch__btn {
    @include flexbox();
    @include justify-content(flex-end);
}
